{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components/*": "./src/components",
          "@contexts/*": "./src/contexts",
          "@generated/*": "./src/generated",
          "@hooks/*": "./src/hooks",
          "@lib/*": "./src/lib",
          "@pages/*": "./src/pages",
          "@styles/*": "./src/styles",
          "@utils/*": "./src/utils",
          "@wrappers/*": "./src/wrappers",
          "@public/*": "./public",
          "@modules/*": "./src/modules"
        }
      }
    ]
  ]
}
