.aether {
  --accent-color: #cf6bdd; /*sub-color*/
  --accent-alt-color: #292136; /*sub-alt-color*/
  --background-color: #101820; /*bg-color*/
  --sidebar-color: #131213;
  --caret-color: #eedaea; /*caret-color*/
  --text-color: #eedaea; /*text-color*/
  --letter-color: #cf6bdd; /*sub-color*/
  --letter-correct-color: #eedaea; /*caret-color*/
  --letter-wrong-color: #ff5253; /*error-color*/
}

.blueberry {
  --accent-color: #92a4be; /*sub-color*/
  --accent-alt-color: #c1c7df; /*sub-alt-color*/
  --background-color: #dae0f5; /*bg-color*/
  --sidebar-color: #98988e;
  --caret-color: #df4576; /*caret-color*/
  --text-color: #678198; /*text-color*/
  --letter-color: #92a4be; /*sub-color*/
  --letter-correct-color: #678198; /*caret-color*/
  --letter-wrong-color: #df4576; /*error-color*/
}

.botanic {
  --accent-color: #495755; /*sub-color*/
  --accent-alt-color: #72908d; /*sub-alt-color*/
  --background-color: #7b9c98; /*bg-color*/
  --sidebar-color: #5e7e63;
  --caret-color: #abc6c4; /*caret-color*/
  --text-color: #eaf1f3; /*text-color*/
  --letter-color: #495755; /*sub-color*/
  --letter-correct-color: #abc6c4; /*caret-color*/
  --letter-wrong-color: #f6c9b4; /*error-color*/
}
