@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: 55 125 113;
  --font-color: 148 180 159;
  --caret-color: 247 236 222;
  --correct-color: 233 218 193;
  --wrong-color: 247 236 222;
}

@layer base {
  body {
    font-family: 'Poppins';
  }

  .default {
    --bg-color: 55 125 113;
    --font-color: 148 180 159;
    --caret-color: 247 236 222;
    --correct-color: 233 218 193;
    --wrong-color: 247 236 222;
  }
}
